{{> start style="/css/detail-news.css" detailNews=true}}
<div class="contain-header">
  {{> header  }}
</div>
<div class="wx">
  {{#if coverUrl}}
    <img src="{{ coverUrl }}">
  {{/if}}
</div>
<div class="wrap" id="post">
  <div class="header {{#if coverUrl}}covered{{/if}}">
    {{#if coverUrl}}
      <div class="cover" style="background-image: url({{ coverUrl }})">
        <img src="{{ coverUrl }}">
      </div>
    {{/if}}
    <div class="center">
      <div class="info">
        <div class="title">{{ title }}</div>
        <label class="publish">{{ publishTime }}</label>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="center">
      {{{ build }}}
    </div>
  </div>
</div>
<div class="ext">
  <div class="main">
    <div class="center">
      <div id="relative" class="relative-posts"></div>
      <div id="comment" class="comment"></div>
    </div>
  </div>
</div>
{{> download  }}
{{> footer  }}
{{> end detailNews=true}}

