{{> start style="/css/find-route.css"  }}
{{> header  }}
<div class="container-body">
  <div class="nav">
    <div class="nav-title"><img src="{{global.client.publicPath}}/static/img/icon-route.png?_={{global.version}}">找思路</div>
    <div class="nav-items">
      <ul>
        {{#each routeTitles}}
          {{#ifFirst @index}}
            <li><a class="active" showPanel= {{id}}>{{name}}</a></li>
          {{else}}
            <li><a showPanel= {{id}}>{{name}}</a></li>
          {{/ifFirst}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="page-center result">
    {{#each routeList}}
      {{#ifFirst @index}}
          <div id ={{id}} class="result-main">
      {{else}}
          <div id ={{id}} class="result-main dHide">
      {{/ifFirst}}
        <div class="title">{{title}} <span class="subtitle">{{describe}}</span></div>
        <ul class="list">
          {{#each betas}}
            <li data-id= {{basketid}}>
              <div class="content-center">
                {{#if picurl.length}}
                  <img src="{{picurl}}" onerror="this.src='{{global.client.publicPath}}/static/img/list-{{@index}}.png'">
                {{else}}
                  <img src="{{global.client.publicPath}}/static/img/list-{{@index}}.png">
                {{/if}}
                <div class="header-mask"></div>
                <div class="header-content">
                  <div class="float-l">
                    <div class="name">{{name}}</div>
                    <div class="creat gray">{{creatorName}}</div>
                  </div>
                  <div class="float-r collection gray">
                    {{#isNotEmpty favoriteCount}}
                      {{favoriteCount}} 收藏 
                    {{/isNotEmpty}}
                    </div>
                </div>
                <div class="body-mask"></div>
                <div class="body-content">
                  <div class="profit">{{percentage returnValue}}%</div>
                  <div class="time gray">{{returnType}}</div>
                </div>
              </div>
            </li>
           {{/each}}
        </ul>
        <div class="more">查看更多组合</div>
      </div>
    {{/each}}
  </div>
</div>
<!--展开效果 默认隐藏 -->
{{> home/portfolio-detail  }}
{{> download  }}
{{> footer  }}
{{> end script="/js/route.js" highcharts=true}}

