{{> start style="/css/find-route.css"  }}
{{> header  }}
<div class="container-body">
  <div class="nav">
    <div class="nav-title">
      <img src="{{global.client.publicPath}}/static/img/find-circle.png?_={{global.version}}">
      找圈子
    <div class="nav-items">
      <ul>
        <li>边炒股，边交友，投资路上不寂寞</li>
      </ul>
    </div>
    </div>
  </div>
  <div class="page-center result">
    <div class="result-main">
      <div class="title"><span class="subtitle"></span></div>
      <ul class="list">
        {{#each circleList}}
          <li data-id= {{id}}>
            <div class="content-center">
              {{#if picUrl.length}}
                <img src="{{ picUrl }}" onerror="this.src='{{global.client.publicPath}}/static/img/list-{{@index}}.png'">
              {{else}}
                <img src="{{global.client.publicPath}}/static/img/list-{{@index}}.png">
              {{/if}}
              <div class="header-mask"></div>
              <div class="header-content">
                <div class="float-l">
                  <div class="name">{{name}}</div>
                  <div class="creat gray">{{creater}}</div>
                </div>
                <div class="float-r collection gray">{{collectorCount}}收藏 </div>
              </div>
              <div class="body-mask"></div>
              <div class="body-content">
                <div class="profit">{{percentage yearRoi}}%</div>
                <div class="time">本年收益</div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
      <div class="more">查看更多组合</div>
    </div>
  </div>
</div>
<!--展开效果 默认隐藏 -->
{{> home/portfolio-detail  }}
{{> download  }}
{{> footer  }}
{{> end script="/js/circle.js" highcharts=true}}

