{{> start style="/css/find-master.css"  }}
{{> header  }}
<div class="container-body master">
  <div class="nav">
    <div class="nav-title"><img src="{{global.client.publicPath}}/static/img/icon-master.png?_={{global.version}}">找师傅</div>
    <div class="nav-items">
      <ul>
        <li><a href = "/find-master/0" id ="oficial-nav" class="{{#eqeqeq id '0'}}active{{/eqeqeq}}">官方制造</a></li>
        <li><a href = "/find-master/4" id ="largeV-nav" class="{{#eqeqeq id '4'}}active{{/eqeqeq}}">精选大V</a></li>
        <li><a href = "/find-master/3" id ="master-nav" class="{{#eqeqeq id '3'}}active{{/eqeqeq}}">精选达人</a></li>
      </ul>
    </div>
  </div>
  <div class="page-center">
  {{#eqeqeq id '0'}}
    <div class="oficial-result ">
      <div class="result-main">
        <div class="title">官方制造 <span class="subtitle"></span></div>
        {{#each oficialList}}
          <div class="official" data-url={{introUrl}}>
            <div class="icon">
              <img src="{{picUrl}}">
              <div class="name">{{name}}</div>
              <div class="intr">{{authDesc}}</div>
            </div>
            <div class="detail">
              <div class="title-offical"><span class="float-l">他的组合</span><span class="float-r">今年以来收益</span></div>
              <div class="portfolio"><span class="float-l">{{betas.[0].name}}</span><span class="right-portfolio float-r">{{percentage betas.[0].yearRoi}}%</span></div>
              <div class="border"></div>
              <div class="portfolio"><span class="float-l">{{betas.[1].name}}</span><span class="right-portfolio float-r">{{percentage betas.[1].yearRoi}}%</span></div>
              <div class="border"></div>
              <div class="portfolio"><span class="float-l">{{betas.[2].name}}</span><span class="right-portfolio float-r">{{percentage betas.[2].yearRoi}}%</span></div>
            </div>
          </div>
          <div class="intr-official">
            <p>金贝塔的“官方制造”团队来自嘉实财富量化研究中心，团队成员曾就职于嘉实基金、景顺长城基金等海内外多家资产管理机构，涵盖公募、私募、券商、PE等多重背景，是一支拥有资深投研经验、实力雄厚的团队。</p>
            
            <p class="top">官方制造团队在金贝塔平台上创建及维护风格多样，具备专业水准的“聪明的贝塔”证券投资组合，涵盖量化模型、事件驱动、主题投资、基本面分析等多种投资风格， 为广大用户提供适应不同市场环境的投资机会。官方制造团队创建的“破茧蝴蝶”（大股东解禁事件驱动）、“小鲜肉”（小盘成长股组合）、“高管增持”（高管增持事件驱动）等组合在过去三年间，分别取得500%、300%、200%以上的收益，在市场上遥遥领先。</p>
          </div>
        {{/each}}
      </div>
    </div>
  {{/eqeqeq}}
  {{#eqeqeq id '4'}}
    <div class="largeV-result">
      <div class="result-main">
        <div class="title">精选大V <span class="subtitle"></span></div>
        <ul class="list">
          {{#each oficialList}}
            <li data-url={{introUrl}} {{#isNotEmpty introUrl}} class="pointer" {{/isNotEmpty}}>
              <div class="content-center">
                  <div class="profile">
                    {{#if picUrl.length}}
                      <img src="{{ picUrl }}" onerror="this.src='{{global.client.publicPath}}/static/img/icon_head@2x.png'">
                    {{else}}
                      <img src="{{global.client.publicPath}}/static/img/icon_head@2x.png">
                    {{/if}}
                    <div class="txt">
                      {{name}}
                      <div class="gray">{{authDesc}} <div class="ellipsis dHide">....</div></div>
                    </div>
                  </div>
                  <div class="detail"><div class="content float-l">组合</div><div class="content float-r">今年以来收益</div></div>
                  <div class="clear bottom-content"><div class="content-left float-l">{{betas.[0].name}}</div><div class="red float-r">{{percentage betas.[0].yearRoi}}%</div>
              </div>
            </li>
          {{/each}}
        </ul>
        <div class="more">查看更多大V</div>
      </div>
    </div>
  {{/eqeqeq}}
  {{#eqeqeq id '3'}}
    <div class="master-result">
      <div class="result-main">
        <div class="title">精选达人<span class="subtitle"></span></div>
        <ul class="list">
          {{#each oficialList}}
            <li>
              <div class="content-center">
                <div class="profile">
                  {{#if picUrl.length}}
                    <img src="{{ picUrl }}" onerror="this.src='{{global.client.publicPath}}/static/img/icon_head@2x.png'">
                  {{else}}
                    <img src="{{global.client.publicPath}}/static/img/icon_head@2x.png">
                  {{/if}}
                  <div class="txt">
                    {{name}}
                    <div class="gray">{{authDesc}} <div class="ellipsis dHide">....</div></div>
                  </div>
                </div>
                <div class="detail"><div class="content float-l">组合</div><div class="content float-r">今年以来收益</div></div>
                <div class="clear bottom-content"><div class="content-left float-l">{{betas.[0].name}}</div><div class="red float-r">{{percentage betas.[0].yearRoi}}%</div></div>
            </li>
          {{/each}}
        </ul>
        <div class="more">查看更多达人</div>
      </div>
    </div>
  {{/eqeqeq}}


  </div>
</div>
{{> download  }}
{{> footer }}
{{> end script="/js/master.js" }}

