{{> start style="/css/help.css" }}
<div class="contain-header">
  {{> header nav="help"}}
</div>
<!--搜索 -->
<div class="search">
  <form>
    <div class="center-search">
      <div class="icon-search"></div>
      <input type="text" name="search" placeholder="输入问题关键字，找到答案" class="input-search">
      <button type="submit" class="btn-search">搜索</div>
    </div>
  </form>
</div>
<!--主体模块-->
<div class="wrap-help">
  <div class="main-help">
    <div class="wrap-content-help top-75">
      <div class="content-help">
        <div class="title-help">新用户必读</div>
        <div>
          <div class="item-help">
            <img src="{{global.client.publicPath}}/static/img/icon_item.png?_={{global.version}}" >
            <span class="fz-22-help">新用户必读</span>
            <div class="viewAll-help">查看全部24篇文档</div>
          </div>
          <p>如何认证加V？</p>
          <p>遇到问题可以从哪里获取到帮助？</p>
          <p>在哪里可以退出账号？</p>
        </div>
      </div>
      <div class="content-help">
        <div class="title-help">投资小秘书</div>
        <div>
          <div class="item-help">
            <img src="{{global.client.publicPath}}/static/img/icon_item.png?_={{global.version}}" >
            <span class="fz-22-help">投资小秘书</span>
            <div class="viewAll-help">查看全部8篇文档</div>
          </div>
          <p>如何使用金贝塔？</p>
          <p>股市如武林，少侠想练哪门武功？</p>
          <p>【玩赚金贝塔】爱上一只股票，可是家里没有交易员？</p>
        </div>
      </div>
    </div>
    <div class="wrap-content-help">
      <div class="content-help">
        <div class="title-help">证券及交易</div>
        <div>
          <div class="item-help">
            <img src="{{global.client.publicPath}}/static/img/icon_item.png?_={{global.version}}" >
            <span class="fz-22-help">A股</span>
            <div class="viewAll-help">查看全部22篇文档</div>
          </div>
          <p>为什么买了股票却卖不出去？</p>
          <p>是否支持批量买入/卖出？</p>
          <p>为什么证券账户有钱转不出来？</p>
        </div>
      </div>
      <div class="content-help">
        <div class="title-help vHide">港股</div>
        <div>
          <div class="item-help">
            <img src="{{global.client.publicPath}}/static/img/icon_item.png?_={{global.version}}" >
            <span class="fz-22-help">港股</span>
            <div class="viewAll-help">查看全部11篇文档</div>
          </div>
          <p>我可否以净值交收股票买卖(net off)?</p>
          <p>投资者买卖港股的收费标准？</p>
          <p>港股交易以“手”为买卖单位，一手的股数是多少？</p>
        </div>
      </div>
    </div>

    <div class="wrap-content-help">
      <div class="content-help">
        <div class="title-help">帮助支持</div>
        <div>
          <div class="item-help">
            <img src="{{global.client.publicPath}}/static/img/icon_item.png?_={{global.version}}" >
            <span class="fz-22-help">常见问题</span>
            <div class="viewAll-help">查看全部7篇文档</div>
          </div>
          <p>注册与登录</p>
          <p>主要功能介绍</p>
          <p>金贝塔组合</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{> download  }}
{{> footer  }}
{{> end script="/js/main.js" }}

