{{> start style="/css/home.css"  }}
{{> header nav="home"}}
<!-- 主体部分 -->
<div class="body">
  <!-- 顶部 banner -->
  <div id="scrollPics" class="banner-container">
    <ul class="slider" >
      <li class="banner-current box">
        <img src="{{global.client.publicPath}}/static/img/banner.jpg?_={{global.version}}"/>
        <div class="title-banner title-banner-layout">
          <div class="top-title-banner">国内首家证券组合投资平台 - 金贝塔</div>
          <div class="bottom-title-banner">
            <div><span class="txt-left spacing">云集实名专家</span><span class="txt-right">汇聚优质组合</span></div>
            <div class="clear-both"><span class="txt-left">覆盖A股、港股</span><span class="txt-right">超低交易佣金</span></div>
          </div>
        </div>
      </li>
      {{#each banners}}
        <li class="box">
          {{#isNotEmpty location}}
            <a href="{{location}}">
          {{/isNotEmpty}}
            <img src="{{picUrl}}"/>
            <div class="title-banner title-banner-layout">
              <div class="top-title-banner"></div>
              <div class="bottom-title-banner">
                <div><span class="txt-left spacing"></span><span class="txt-right"></span></div>
                <div class="clear-both"><span class="txt-left"></span><span class="txt-right"></span></div>
              </div>
            </div>
          {{#isNotEmpty location}}
            </a>
          {{/isNotEmpty}}
        </li>
      {{/each}}
    </ul>
    <div class="focus-index">
      <i class="on"></i>
      {{#each banners}}
        <i></i>
      {{/each}}
    </div>
    <img class="block-img vHide" src="{{global.client.publicPath}}/static/img/banner.jpg?_={{global.version}}"/>
  </div>
  <!--搜索 -->
  <div class="search">
    <div class="title-search">想要投资什么？</div>
    <div class="form">
      <div class="center-search">
        <div class="icon-search"></div>
        <div class="validate-search dHide">请输入关键字</div>
        <input id ="search-input" type="text" name="search" placeholder='如"虚拟现实"' class="input-search">
        <button id="btn-search" type="button" class="btn-search">Go</button>
      </div>
    </div>
    <div class="tips-search">超过300万用户正在使用，我来试试...</div>
  </div>
  <!-- 投资思路 -->
  <div class="wrap">
    <div class="page-center">
      <div class="title">大家在这里找到了</div>
      <div class="option">
        <div class="find-route float-l"><a href="/find-route"><img src="{{global.client.publicPath}}/static/img/route.png?_={{global.version}}" ></a></div>
        <div class="find-master float-l"><a href="/find-master/0"><img src="{{global.client.publicPath}}/static/img/master.png?_={{global.version}}" ></a></div>
        <div class="find-circle float-l"><a href="/find-circle"><img src="{{global.client.publicPath}}/static/img/circle.png?_={{global.version}}" ></a></div>
      </div>
    </div>
  </div>
  <!-- 明星分析师 -->
  {{> home/analyst }}
  <!-- 介绍 -->
  {{> home/introduce }}
  <!-- 新闻动态 -->
  {{> home/news }}
  <!-- 精彩视频 -->
  {{> home/video }}
</div>
{{> home/search }}
<!--展开效果 默认隐藏 -->
{{> home/portfolio-detail  }}
{{> download  }}
{{> footer  }}
{{> end script="/js/main.js" highcharts=true home=true}}
