{{> start style="/css/mobile.css" mobile=true }}
<div id="wrap" class="wrap">
  <div class="item1">
    <img src="{{global.client.publicPath}}/static/img/moblie/head@1x.png?_={{global.version}}" alt="" class="item1-01">
    <div class="item1-02">
      <div class="title">
        迷你组合
        <div class="subtitle">简单易上手</div>
      </div>
      <div class="content">
        <p>
          金贝塔推出首批“迷你组合”投资工具，涵盖分级A基金、港股、黄金三大投资领域，只有具备较大胜率的投资策略，才会开发为“迷你组合”；
        </p>
        <p>目前的迷你组合有三个：</p>
        <p><span class="item-title">“骆驼计划”</span> ：收益稳健，轻松超越银行理财；</p>
        <p><span class="item-title">“金沙计划”</span> ：满足投资者对黄金资产的避险需求，又能比单纯持有黄金增厚1%左右年化收益；</p>
        <p><span class="item-title">“潜艇计划”</span> ：通过定投方式抄底估值几乎全球最低的港股指数。</p>
      </div>
    </div>
    <img src="{{global.client.publicPath}}/static/img/moblie/part1@1x.png?_={{global.version}}" alt="" class="item1-03">
    <div class="item1-04">
      <div class="item1-04-01">迷你组合400元即可投资，交易费低至0.1元</div>
      <div class="item1-04-02">哪怕没有深厚的金融理论基础，</br>只需跟投，就能获取收益！</div>
    </div>
  </div>
  <div class="item2">
    <div class="title">
      大V组合
      <div class="subtitle">专业组合投资</div>
    </div>
    <div class="content">
      <p>
        <span class="item-title">131</span>位官方认证大V，实名进驻金贝塔，其中<span class="item-title">1/3</span>大V获得2015年新财富最佳分析师；
      </p>
      <p>官方认证大V来自28家券商研究所及12家投资公司；</p>
      <p>在金贝塔，你能清晰地看见大V是如何进行股市组合投资，站在巨人肩膀上，对股市认知更上一层楼；</p>
    </div>
    <img src="{{global.client.publicPath}}/static/img/moblie/part2@1x.png?_={{global.version}}" alt="" class="item2-01">
  </div>
  <div class="item3">
    <div class="title">
      实时调仓
      <div class="subtitle">不错过买卖点</div>
    </div>
    <div class="content">
      <p>
        个人投资者跟投组合的两大难点“不会把握买卖时机”、“没时间看盘”，而金贝塔统一帮你解决，跟投不费心力；
      </p>
    </div>
    <img src="{{global.client.publicPath}}/static/img/moblie/part3@1x.png?_={{global.version}}" alt="" class="item3-01">
    <div class="item3-02">
      <div class="item3-02-01">实时调仓推送，实时通知调仓明细</div>
      <div class="item3-02-02">收藏即可获得</div>
    </div>
  </div>
  <div class="item4">
      <div class="title">
        关于金贝塔
      </div>
      <div class="content">
        <p>
         金贝塔是嘉实基金在深圳投资设立的网络金融科技公司；金贝塔被权威媒体称为“中国版Motif”，金贝塔力求通过互联网技术创新，打破机构与散户之间的信息不对称，让“聪明的贝塔”策略在国内发展壮大，践行普惠金融；2016年，金贝塔A轮融资引入蚂蚁金服，成为蚂蚁金服的生态伙伴。
        </p>
        <p>北上广深300万白领首选选股神器金贝塔——国内首家专注于证券组合投资的APP。</p>
      </div>
  </div>
  <div class="download">
    <div class="txt">
      <div class="txt-download">用APP打开，查看组合持仓</div>
      <div class="sub-txt-download">金贝塔 | 思想创造财富</div>
    </div>
    <div class="btn">
      <a href="/portal/basket/download/qrc/website_mobile" type="button" class="install">安装</a>
    </div>
  </div>
</div>
</body>
</html>
