{{> start style="/css/news.css" }}
<div class="contain-header">
  {{> header nav="news"}}
</div>
<div class="nav">
  <div class="nav-title">资讯中心</div>
  <div class="nav-items">
    <ul>
      <li topicId ={{global.topicId.id1}}><a href="/news/{{global.topicId.id1}}">公司动态</a></li>
      <li topicId ={{global.topicId.id2}}><a href="/news/{{global.topicId.id2}}">投资视野</a></li>
      <li topicId ={{global.topicId.id3}}><a href="/news/{{global.topicId.id3}}">今日话题</a></li>
    </ul>
  </div>
</div>
<div class="page-center">
  <div id="newsList">
    {{#each newsList}}
      <div class="item-news">
        <a href="/tcontent/post/{{id}}.html">
          <h2>{{title}}</h2>
          <p class="time-contain"><span class="time-news">{{publishTime}}</span>
          <span class="time-news">
            {{#isNotEmpty sourceSitename}}
              来源：{{sourceSitename}}
            {{/isNotEmpty}}
          </span></p>
          <p class="content-news">
            {{summary}}
          </p>
        </a>
      </div>
    {{/each}}
  </div>
  <!--分页列表 -->
  <div class="pages-news">
    <div class="page-contain-news">
      <div class="page-left page-style"></div>
      <ul class="list-news">
      </ul>
      <div class="page-right page-style"></div>
    </div>
  </div>
</div>
{{> download }}
{{> footer  }}
{{> end script="/js/news.js" news=true}}
