<div class="introduce">
  <div class="page-center contain">
    <div class="up-introduce">
      <img src="{{global.client.publicPath}}/static/img/phone_01.png?_={{global.version}}" >
      <div class="tips-introduce">
        <div class="item-introduce"><div class="btn-introduce float-l j-corner" data-corner="cc:#fee9ce 12px">首个</div><span class="txt-introduce">“聪明的贝塔”证券组合投资平台</span></div>
        <div class="item-introduce"><div class="btn-introduce float-l j-corner" data-corner="cc:#fee9ce 12px">两地</div><span class="txt-introduce">覆盖A股、港股</span></div>
        <div class="item-introduce"><div class="btn-introduce float-l j-corner" data-corner="cc:#fee9ce 12px">100+</div><span class="txt-introduce">实名认证证券分析师</span></div>
        <div class="item-introduce"><div class="btn-introduce float-l j-corner" data-corner="cc:#fee9ce 12px">300万</div><span class="txt-introduce">北上广深白领首选</span></div>
        <div class="item-introduce"><div class="btn-introduce float-l j-corner" data-corner="cc:#fee9ce 12px">7000亿</div><span class="txt-introduce">资产管理机构护航</span></div>
      </div>
    </div>
    <div class="bottom-introduce">
      <img src="{{global.client.publicPath}}/static/img/phone_03.png?_={{global.version}}" >
      <div class="tips-introduce">
        <div class="fz-30-introduce">嘉实集团旗下证券组合投资APP</div>
        <div class="fz-50-introduce">选股神器金贝塔</div>
        <div class="btn-download">
          <img src="{{global.client.publicPath}}/static/img/QR_in_03.png?_={{global.version}}" >
          <div class="btn-down-introduce">下载</div>
        </div>
      </div>
    </div>
  </div>
</div>