<div class="wrap-news">
  <div class="page-center main-news">
    <ul class="ul-news">
      <li>
        <div class="sec-news">
          <div class="type" topicid ={{global.topicId.id1}}>公司动态</div>
          {{#each newsList}}
            <div class="title-news">
              <div class="cell"><h3>{{title}}</h3></div>
            </div>
            <div class="format fz-gray-news"><span class="float-l">{{publishTime}}</span>
                <span class="float-r">
                  {{#isNotEmpty sourceSitename}}
                   来源：{{sourceSitename}}
                  {{/isNotEmpty}}
                </span>

            </div>
            <div class="type-content format">
              {{summary}}
              <div class="ellipsis dHide">....</div>
            </div>
            <div class="format detail-container">
              <div id="detail" class="detail-news" data-id="{{id}}">
                <a href="/tcontent/post/{{id}}.html" class="j-corner" data-corner="12px">详情</a>
              </div>
            </div>
          </div>
        {{/each}}
      </li>
      <li>
        <div class="sec-news">
          <div class="type" topicid ={{global.topicId.id2}}>投资视野</div>
          {{#each news2}}
            <div class="title-news">
              <div class="cell"><h3>{{title}}</h3></div>
            </div>
            <div class="format fz-gray-news">
              <span class="float-l">{{publishTime}}</span><span class="float-r">
                  {{#isNotEmpty sourceSitename}}
                   来源：{{sourceSitename}}
                  {{/isNotEmpty}}
              </span>
            </div>
            <div class="type-content format">
                {{summary}}
                <div class="ellipsis dHide">....</div>
            </div>
            <div class="format detail-container">
              <div id="detail" class="detail-news" data-id="{{id}}">
                <a href="/tcontent/post/{{id}}.html" class="j-corner" data-corner="12px">详情</a>
              </div>
            </div>
          {{/each}}
        </div>
      </li>
      <li>
        <div class="sec-news">
          <div class="type" topicid ={{global.topicId.id3}}>今日话题</div>
          {{#each news3}}
            <div class="title-news">
              <div class="cell"><h3>{{title}}</h3></div>
            </div>
            <div class="format fz-gray-news"><span class="float-l">{{publishTime}}</span>
              <span class="float-r">
                  {{#isNotEmpty sourceSitename}}
                   来源：{{sourceSitename}}
                  {{/isNotEmpty}}
              </span>
            </div>
            <div class="type-content format">
                {{summary}}
                <div class="ellipsis dHide">....</div>
            </div>
            <div class="format detail-container">
              <div id="detail" class="detail-news" data-id="{{id}}">
                <a href="/tcontent/post/{{id}}.html" class="j-corner" data-corner="12px">详情</a>
              </div>
            </div>
          {{/each}}
        </div>
      </li>
    </ul>
  </div>
</div>
