<!DOCTYPE html>
<!--[if lt IE 8]> <html class="ie lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 双核浏览器默认开启极速模式 -->
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="keywords" content="{{keywords}}">
  <meta name="description" content="{{description}}">
  <meta name="staticRoot" content="{{global.client.publicPath}}/static">
  {{#if mobile}}
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <script src="{{global.client.publicPath}}/static/js/screen-adapter.js?_={{global.version}}"></script>
  {{/if}}
  <link rel="bookmark" type="image/x-icon" href="{{global.client.publicPath}}/static/favicon.ico?_={{global.version}}">
  <link rel="icon" type="image/x-icon" href="{{global.client.publicPath}}/static/favicon.ico?_={{global.version}}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{global.client.publicPath}}/static/favicon@48.png?_={{global.version}}">
  <link rel="shortcut icon" type="image/x-icon" href="{{global.client.publicPath}}/static/favicon.ico?_={{global.version}}">
  <link rel="apple-touch-icon" sizes="32x32" href="{{global.client.publicPath}}/static/favicon@32.png?_={{global.version}}">
  <link rel="apple-touch-icon" sizes="48x48" href="{{global.client.publicPath}}/static/favicon@48.png?_={{global.version}}">
  <link rel="apple-touch-icon" sizes="64x64" href="{{global.client.publicPath}}/static/favicon@64.png?_={{global.version}}">
  <link rel="apple-touch-icon" sizes="128x128" href="{{global.client.publicPath}}/static/favicon@128.png?_={{global.version}}">
  <title>金贝塔－思想创造财富</title>
  {{#if detailNews}}
    <script>
      document.documentElement.className += ' desktop';
      window.beta = {
        articleId: '{{ articleId }}',
        showRelative: '{{ showRelative }}',
        canComment: '{{ canComment }}'
      };
    </script>
    <link rel="stylesheet" href="{{global.client.postPublicPath}}/static/css/post.css?_={{global.version}}">
  {{/if}}
  {{#if style}}
    <link rel="stylesheet" href="{{global.client.publicPath}}/static{{style}}?_={{global.version}}">
    <!--[if lt IE 9]><link rel="stylesheet" href="{{global.client.publicPath}}/static/css/ie-compat.css?_={{global.version}}"><![endif]-->
  {{/if}}
</head>
<body>